<?xml version="1.0" encoding="utf-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        id="http://www.example.org/helloworld"
        viewmodes="minimized"
        version="0.2">
    <name>InoReader on speeddial</name>
    <description>Shows subscriptions names and number of unread items on InoReader</description>
    <author email="demalexx@gmail.com">demalexx</author>
    <icon src="icons/extension-icon.png" />

    <feature name="opera:speeddial" required="true">
        <param name="url" value="https://www.inoreader.com/" />
    </feature>
    <access origin="https://www.inoreader.com/" />
    <feature name="opera:share-cookies" required="true" />
</widget>